body {
  font-family: Jost;
}

// body:has(.modal) {
//   overflow-y: hidden;
// }

.link {
  color: $white-text;
  transition: color 0.6s;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: $white-text-hover;
    &::after {
      background: $white-text-hover !important;
    }
  }

  .clickable:hover {
    opacity: 0.7;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.clickable {
  cursor: pointer;
  transition: opacity 0.6s;
}
