$black-text: #111111;
$black-text-hover: #232222;
$white-text: #f9f9f9;
$white-text-hover: #cdcdcd;
$validation-error: #cb0c0c;

$primary-btn: #0c5d15;
$primary-btn-hover: #107e1d;
$danger-btn: #b50808;
$danger-btn-hover: #cb0c0c;
$border-dark: #232323;
$border-light: #aeaeae;
$logout-btn: #bdbdbd6d;
$logout-btn-hover: #bdbdbd;
$options-btn: #c6cb44;
$options-btn-hover: #a3a733;
$options-text: #d0a910;
$options-text-hover: #b5940f;

$dot: #aeaeae;
$dot-hover: #181818;

$semi-white: #ffffff60;
$editing: #0b6315;

$gray-bg: #f5f5f5;
$gray-bg-hover: #e1e1e1;

$tab-active: #0c5d15;
$tab-hover: #aeaeae;
$tab-active-hover: #128320;
