.button {
  padding: 20px 30px;
  cursor: pointer;
  color: $white-text;
  background: $primary-btn;
  font-size: 18px;
  font-weight: 900;
  transition: background 0.6s;
  border: none;
  border-radius: 4px;
}

.button.danger-btn {
  background: $danger-btn;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: $primary-btn-hover;
  }

  .button.danger-btn:hover {
    background: $danger-btn-hover;
  }
}
