body {
  font-family: Jost;
}

.link {
  color: $white-text;
  transition: color 0.6s;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: $white-text-hover;
    &::after {
      background: $white-text-hover !important;
    }
  }
}
