$black-text: #111111;
$black-text-hover: #232222;
$white-text: #f9f9f9;
$white-text-hover: #cdcdcd;
$primary-btn: #0c5d15;
$primary-btn-hover: #107e1d;
$danger-btn: #b50808;
$danger-btn-hover: #cb0c0c;
$border-dark: #232323;

$dot: #aeaeae;
$dot-hover: #181818;

$semi-white: #ffffff60;
