.page-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .button-wrapper {
    display: flex;
    gap: 10px;
  }
  &__item {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black-text;

    .page__badge {
      width: 80px;
      height: 80px;
      border: 1px solid $black-text;
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &.bg-1 {
        background-image: url('../../../../data/images/cat2.jpeg');
      }
      &.bg-2 {
        background-image: url('../../../../data/images/cat3.jpeg');
      }
      &.bg-3 {
        background-image: url('../../../../data/images/cat4.jpeg');
      }
      &.bg-4 {
        background-image: url('../../../../data/images/cat5.jpeg');
      }
    }
  }

  .page-setting-btn {
    background: $options-text;
  }
}
